/**
 * WGS (Webedia Grid System)
 *
 * README :
 *
 * https://github.com/webedia-udg/wgs
 *
 */

/**
 * Mixin de media-query
 *
 * @param string $breakpoint : nom du breakpoint. Doit correspondre à l'un des
 *                             éléments de $breakpoints transmis à wgsSetup()
 * Ex : @include mq(desk){...}
 */
@mixin mq($breakpoint) { 
    @if map-has-key($_wgsBreakpoints, $breakpoint) {
        @media screen and (min-width: map-get($_wgsBreakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin mqUntil($breakpoint, $size) { 
    @if map-has-key($_wgsBreakpoints, $breakpoint) {
        $size: $size - 1px;
        @media screen and (max-width: $size ) {
            @content;
        }
    }
}



/**
 * Ajoute les classes de grilles (.grid, .grid--fixed, .grid__item),
 * éventuellement préfixées. Gère les relations entre les .grid & .grid__item
 *
 * @param string $breakpoint (false) => Le préfixe.
 */
@mixin grid($gutter, $useFixedGrid: false, $breakpoint:false) {
    $sufix: "";
    @if $breakpoint{
        $sufix: "@#{$breakpoint}";
    }

    [class~="grid#{$sufix}"] {
        display: block;
        margin-left: -$gutter;
        margin-top: -$gutter;



        & + [class~="grid#{$sufix}"] {
            margin-top: 0;
        }

        & > .grid__item {
            display: inline-block;
            vertical-align: top;
            padding-left: $gutter;
            padding-top: $gutter;
            width: 100%;

            // Pour remettre bien l'ordre au cas où la grille serait inversée
            direction:ltr;
            text-align:left;
        }
    }


    [class~="grid--rev#{$sufix}"] {
        direction:rtl;
        text-align:left;
    }

    [class~="grid--center#{$sufix}"] {
        text-align: center;
        & > .grid__item {
            text-align: left;
        }
    }

    [class~="grid--right#{$sufix}"] {
        text-align: right;
        & > .grid__item {
            text-align: left;
        }
    }

    @if $useFixedGrid {

        .grid[class~="grid--fixed#{$sufix}"] {
            width: 100%;
            display: table;
            table-layout: fixed;
            margin-left: 0;

            margin-top: $gutter;
            .grid & {
                margin-top: 0;
            }
            
            
            > .grid__item {
                display: table-cell;
                vertical-align: top;
                padding-left: 0;
                padding-top: 0;

                & + .grid__item {
                    padding-left: $gutter;
                }
            }
        }
    }
}


/**
 * Ecrit des classes de largeur ratio.
 * 
 * @param String $breakpoint : le nom du breakpoint à prendre en compte
 */
@mixin ratioWidths($breakpoint:false){

    $sufix: "";
    @if $breakpoint{
        $sufix: "@#{$breakpoint}";
    }

    [class~="1/1#{$sufix}"]       { width: 100% !important; }
    
    // Demis
    [class~="1/2#{$sufix}"],
    [class~="2/4#{$sufix}"],
    [class~="3/6#{$sufix}"],
    [class~="4/8#{$sufix}"],
    [class~="5/10#{$sufix}"],
    [class~="6/12#{$sufix}"]      { width: 50% !important; }
    
    // Tiers
    [class~="1/3#{$sufix}"],
    [class~="2/6#{$sufix}"],
    [class~="3/9#{$sufix}"],
    [class~="4/12#{$sufix}"]      { width: 33.3333333% !important; }
    [class~="2/3#{$sufix}"],
    [class~="4/6#{$sufix}"],
    [class~="6/9#{$sufix}"],
    [class~="8/12#{$sufix}"]      { width: 66.6666666% !important; }
    
    // Quarts
    [class~="1/4#{$sufix}"],
    [class~="2/8#{$sufix}"],
    [class~="3/12#{$sufix}"]      { width: 25% !important; }
    [class~="3/4#{$sufix}"],
    [class~="6/8#{$sufix}"],
    [class~="9/12#{$sufix}"]      { width: 75% !important; }
    
    // Cinquièmes
    [class~="1/5#{$sufix}"],
    [class~="2/10#{$sufix}"]      { width: 20% !important; }
    [class~="2/5#{$sufix}"],
    [class~="4/10#{$sufix}"]      { width: 40% !important; }
    [class~="3/5#{$sufix}"],
    [class~="6/10#{$sufix}"]      { width: 60% !important; }
    [class~="4/5#{$sufix}"],
    [class~="8/10#{$sufix}"]      { width: 80% !important; }
    
    // Sixièmes
    [class~="1/6#{$sufix}"],
    [class~="2/12#{$sufix}"]      { width: 16.6666666% !important; }
    [class~="5/6#{$sufix}"],
    [class~="10/12#{$sufix}"]     { width: 83.3333333% !important; }

    // Huitièmes
    [class~="1/8#{$sufix}"]       { width: 12.5% !important; }
    [class~="3/8#{$sufix}"]       { width: 37.5% !important; }
    [class~="5/8#{$sufix}"]       { width: 62.5% !important; }
    [class~="7/8#{$sufix}"]       { width: 87.5% !important; }
    
    // Neuvièmes
    [class~="1/9#{$sufix}"]       { width: 11.1111111% !important; }
    [class~="2/9#{$sufix}"]       { width: 22.2222222% !important; }
    [class~="4/9#{$sufix}"]       { width: 44.4444444% !important; }
    [class~="5/9#{$sufix}"]       { width: 55.5555555% !important; }
    [class~="7/9#{$sufix}"]       { width: 77.7777777% !important; }
    [class~="8/9#{$sufix}"]       { width: 88.8888888% !important; }
    
    // Dixièmes
    [class~="1/10#{$sufix}"]      { width: 10% !important; }
    [class~="3/10#{$sufix}"]      { width: 30% !important; }
    [class~="7/10#{$sufix}"]      { width: 70% !important; }
    [class~="9/10#{$sufix}"]      { width: 90% !important; }
    
    // Douzièmes
    [class~="1/12#{$sufix}"]      { width:  8.3333333% !important; }
    [class~="5/12#{$sufix}"]      { width: 41.6666666% !important; }
    [class~="7/12#{$sufix}"]      { width: 58.3333333% !important; }
    [class~="11/12#{$sufix}"]     { width: 91.6666666% !important; }
}

/**
 * Ecrit des classes de largeur fixe.
 * @param String $prefix : le préfixe à ajouter devant chaque classe
 */
@mixin fixedWidth($size, $gutter, $breakpoint:false) {

    $sufix: "";
    @if $breakpoint{
        $sufix: "@#{$breakpoint}";
    }

    [class~="#{$size}#{$sufix}"] {
        width: $size !important;
    }

    .grid__item + [class~="#{$size}#{$sufix}"] {
        width: $size + $gutter !important;
    }
}


/**
 * Quelques classes de visibilité
 */
@mixin hidden($breakpoint: false) {

    $sufix: "";
    @if $breakpoint{
        $sufix: "@#{$breakpoint}";
    }

    [class~="hidden#{$sufix}"] {
        display: none !important;
    }    
}

@mixin visible($breakpoint: false) {

    $sufix: "";
    @if $breakpoint{
        $sufix: "@#{$breakpoint}";
    }

    [class~="visible#{$sufix}"] {
        display: none !important;
    }    
}

/**
 * Ecrit les règles
 * @param list $fixedWidths (false) : les tailles fixes à prendre en compte
 * @param map $breakpoints (false) : les breakpoints à prendre en compte
 * @param string $gutter (24px) : taille de la gouttière
 * @param bool (false) : faut-il gérer les grilles à taille fixe
 */
@mixin wgsSetup(
    $fixedWidths  : false,
    $breakpoints  : false,
    $gutter       : 24px,
    $useFixedGrid : false
){
    // Global namespaced variable, utilisée par @include mq() pour éviter 
    // d'avoir à lui filer le tableau à chaque fois
    $_wgsBreakpoints : $breakpoints !global;

    // 1/ Borderbox pour tout le monde !
    // css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
    // paulirish.com/2012/box-sizing-border-box-ftw
    html {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
    *{
        &,
        &:before,
        &:after{
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                -ms-box-sizing: border-box;
                 -o-box-sizing: border-box;
                    box-sizing: border-box;
        }
    }


    // 2/ Ratios sans responsive
    @include grid($gutter, $useFixedGrid);
    @include ratioWidths;


    // 3/ Tailles fixes sans responsive
    @if $fixedWidths {
        @each $width in $fixedWidths {
            @include fixedWidth($width, $gutter);
        }
    }


    // 4/ Gestion des ratios et tailles fixes en responsive
    @if $breakpoints {
        
        @each $breakpoint, $size in $breakpoints {
            @include mq($breakpoint) {
                @include grid($gutter, $useFixedGrid, $breakpoint);
                @include ratioWidths($breakpoint);
                @include hidden($breakpoint);


                @if $fixedWidths {
                    @each $width in $fixedWidths {
                        @include fixedWidth($width, $gutter, $breakpoint);
                    }
                }
            }

            @include mqUntil($breakpoint, $size){
                @include visible($breakpoint);
            }
        }
    }
}