/**
 * WGS (Webedia Grid System)
 *
 * README :
 *
 * https://github.com/webedia-udg/wgs
 *
 */

// Global variable use to store breakpoints names
$_wgsBreakpoints: ();

/// Media Query mixin
/// 
/// @access public
/// @param {string} $from [false] - Apply rules from this breakpoint name
/// @param {string} $until [false] - Apply rules until this breakpoint name
/// @param {string} $and [false] - Additional media query parameters
/// @example
///   @include mq(tablet){ color: red }; // Results depends of the mobile first approach
///   @include mq($from: tablet){ color: red };
///   @include mq($until: desktop){ color: red };
/// 
@mixin mq(
    $from: false,
    $until: false,
    $and: false
) {
    $min-width: 0;
    $max-width: 0;
    $media-query: '';

    // From: this breakpoint (inclusive)
    @if $from {
        $min-width: nth(map-get($_wgsBreakpoints, $from),1)
    }

    // Until: that breakpoint (exclusive)
    @if $until {
        $max-width: nth(map-get($_wgsBreakpoints, $until),1) - 1px;
    }

    @if $min-width != 0 { $media-query: '#{$media-query} and (min-width: #{$min-width})'; }
    @if $max-width != 0 { $media-query: '#{$media-query} and (max-width: #{$max-width})'; }
    @if $and            { $media-query: '#{$media-query} and #{$and}'; }

    @media #{"screen" + $media-query} {
        @content;
    }
}

/// Writes grid classes (.grid & its modifiers), eventually suffixed with breakpoint
/// Handles relations between .grid and its cells
/// 
/// @access private
/// @param {list} $gutters [()] - List of gutter sizes to handle
/// @param {list} $fixedWidths [()] - List of fixed sizes to handle
/// @param {string} $breakpointName [false] - Breakpoint name
/// @example
///   @include wgsGrid(
///     $gutters        : 12px 20px,
///     $fixedWidths    : 200px 300px,
///     $breakpointName : desktop
///   );
/// 
@mixin wgsGrid($gutters: (), $fixedWidths: (), $breakpointName:false) {
    $sufix: "";
    @if $breakpointName{
        $sufix: \@#{$breakpointName};
    }

    // 1/ Box sizing for this breakpoint on grid
    .grid#{$sufix},
    .grid#{$sufix} > * {
        &,
        &:before,
        &:after{
            box-sizing: border-box !important;
        }
    }

    // 2/ Base style for this breakpoint's grid
    .grid#{$sufix} {
        display: block;
        font-size: 0;
        & > * {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            font-size: medium;

            // Pour remettre bien l'ordre au cas où la grille serait inversée
            direction: ltr;
            text-align:left;
        }
        & + .grid {
            margin-top: 0;  
        }
    }

    // 3/ Grid's modifiers :

    // a/ reversed order
    .grid--rev#{$sufix} {
        direction: rtl;
    }

    // b/ centered grid
    .grid--center#{$sufix} {
        text-align: center;
    }

    // c/ right aligned grid
    .grid--right#{$sufix} {
        text-align: right;
    }

    // d/ fixed grid (no more box-sizing: border-box)
    // overload of main grid properties
    .grid.grid--fixed#{$sufix} {
        width: 100%;
        display: table;
        table-layout: fixed;
        margin-left: 0;


        > * {
            display: table-cell;
            vertical-align: top;
            box-sizing: content-box !important;
            &:first-child {
                padding-left: 0;
            }

        }
    }

    // e/ paddings (grid gutters)
    @each $gutter in $gutters {

        .grid--#{$gutter}#{$sufix} {
            margin-left: -$gutter;
            margin-top: -$gutter;

            & > * {
                padding-left: $gutter;
                padding-top: $gutter;
            }

        }
    }

    @if length($gutters){
        .grid--0#{$sufix} {
            margin-left: 0;
            margin-top: 0;

            & > * {
                padding-left: 0;
                padding-top: 0;
            }

        }
    }
}

/// Escapes a ratio with a sufix
/// @example
///   #{wgsRatio(1 , 2, "tablet")}
///   // => [class~="1/2@tablet"]
@function wgsRatio($a, $b, $breakpointName: false){

    $sufix: "";
    @if $breakpointName{
        $sufix: "@#{$breakpointName}";
    }
    @return '[class~="#{$a}/#{$b}#{$sufix}"]';
}

/// Writes ratio classes (1/2, 1/3, etc), eventually suffixed with breakpoint name
/// 
/// @access private
/// @param {string} $breakpointName - Name of the breakpoint to handle
/// @example
///   @include wgsRatioWidths();
///   @include wgsRatioWidths(desktop);
@mixin wgsRatioWidths($breakpointName:false){

    // Whole
    #{wgsRatio(1 ,1, $breakpointName)}       { width: 100% !important; }

    // Halves
    #{wgsRatio(1 , 2, $breakpointName)},
    #{wgsRatio(2 , 4, $breakpointName)},
    #{wgsRatio(3 , 6, $breakpointName)},
    #{wgsRatio(4 , 8, $breakpointName)},
    #{wgsRatio(5 ,10, $breakpointName)},
    #{wgsRatio(6 ,12, $breakpointName)}      { width: 50% !important; }
    
    // Thirds
    #{wgsRatio(1 , 3, $breakpointName)},
    #{wgsRatio(2 , 6, $breakpointName)},
    #{wgsRatio(3 , 9, $breakpointName)},
    #{wgsRatio(4 ,12, $breakpointName)}      { width: 33.3333333% !important; }
    #{wgsRatio(2 , 3, $breakpointName)},
    #{wgsRatio(4 , 6, $breakpointName)},
    #{wgsRatio(6 , 9, $breakpointName)},
    #{wgsRatio(8 ,12, $breakpointName)}      { width: 66.6666666% !important; }

    // Quarters
    #{wgsRatio(1 , 4, $breakpointName)},
    #{wgsRatio(2 , 8, $breakpointName)},
    #{wgsRatio(3 ,12, $breakpointName)}      { width: 25% !important; }
    #{wgsRatio(3 , 4, $breakpointName)},
    #{wgsRatio(6 , 8, $breakpointName)},
    #{wgsRatio(9 ,12, $breakpointName)}      { width: 75% !important; }

    // Fifths
    #{wgsRatio(1 , 5, $breakpointName)},
    #{wgsRatio(2 ,10, $breakpointName)}      { width: 20% !important; }
    #{wgsRatio(2 , 5, $breakpointName)},
    #{wgsRatio(4 ,10, $breakpointName)}      { width: 40% !important; }
    #{wgsRatio(3 , 5, $breakpointName)},
    #{wgsRatio(6 ,10, $breakpointName)}      { width: 60% !important; }
    #{wgsRatio(4 , 5, $breakpointName)},
    #{wgsRatio(8 ,10, $breakpointName)}      { width: 80% !important; }

    // Sixths
    #{wgsRatio(1 , 6, $breakpointName)},
    #{wgsRatio(2 ,12, $breakpointName)}      { width: 16.6666666% !important; }
    #{wgsRatio(5 , 6, $breakpointName)},
    #{wgsRatio(10,12, $breakpointName)}      { width: 83.3333333% !important; }

    // Eighths
    #{wgsRatio(1 , 8, $breakpointName)}      { width: 12.5% !important; }
    #{wgsRatio(3 , 8, $breakpointName)}      { width: 37.5% !important; }
    #{wgsRatio(5 , 8, $breakpointName)}      { width: 62.5% !important; }
    #{wgsRatio(7 , 8, $breakpointName)}      { width: 87.5% !important; }

    // Ninths
    #{wgsRatio(1 , 9, $breakpointName)}      { width: 11.1111111% !important; }
    #{wgsRatio(2 , 9, $breakpointName)}      { width: 11.1111111% !important; }
    #{wgsRatio(4 , 9, $breakpointName)}      { width: 44.4444444% !important; }
    #{wgsRatio(5 , 9, $breakpointName)}      { width: 55.5555555% !important; }
    #{wgsRatio(7 , 9, $breakpointName)}      { width: 77.7777777% !important; }
    #{wgsRatio(8 , 9, $breakpointName)}      { width: 88.8888888% !important; }

    // Tenths
    #{wgsRatio(1 ,10, $breakpointName)}      { width: 10% !important; }
    #{wgsRatio(3 ,10, $breakpointName)}      { width: 30% !important; }
    #{wgsRatio(7 ,10, $breakpointName)}      { width: 70% !important; }
    #{wgsRatio(9 ,10, $breakpointName)}      { width: 90% !important; }

    // Twelves
    #{wgsRatio(1 ,12, $breakpointName)}      { width:  8.3333333% !important; }
    #{wgsRatio(5 ,12, $breakpointName)}      { width: 41.6666666% !important; }
    #{wgsRatio(7 ,12, $breakpointName)}      { width: 58.3333333% !important; }
    #{wgsRatio(11,12, $breakpointName)}      { width: 91.6666666% !important; }
}

@function strip-units($value) {
    @return $value / ($value * 0 + 1);
}

/// Writes fixed widths
///
/// @access private
/// @param {string} $size - Size to handle
/// @param {string} $breakpointName [false] - Breakpoint name
/// @example
///   @include wgsFixedWidth(200px);
///   @include wgsFixedWidth(300px, desktop);
@mixin wgsFixedWidth($size, $breakpointName:false) {

    $sizeValue: strip-units($size);
    $sizeUnit: unit($size);

    $gutter: 0;

    $sufix: "";
    @if $breakpointName{
        $sufix: "\@#{$breakpointName}";
    }
    // Fixme : pure escaping wont work
    // .\3#{$sizeValue} #{$sizeUnit}#{$sufix}{
    //     width: $size !important;        
    // }
    [class~="#{$size}#{$sufix}"] {
        width: $size !important;
    }
}


/// Writes some visibility classes: .hidden@[breakpointName]
///
/// @access private
/// @param {string} $breakpointName [false] - breakpoint name
/// @example
///   @include wgsHidden();
///   @include wgsHidden(desktop);
@mixin wgsHidden($breakpointName: false) {

    $sufix: "";
    @if $breakpointName{
        $sufix: \@#{$breakpointName};
    }

    .hidden#{$sufix} {
        display: none !important;
    }    
}

/// Writes some visibility classes: .visible@[breakpointName]
///
/// @access private
/// @example
///   @include wgsVisible();
///   @include wgsVisible(desktop);
@mixin wgsVisible($breakpointName: false) {

    $sufix: "";
    @if $breakpointName{
        $sufix: \@#{$breakpointName};
    }

    .visible#{$sufix} {
        display: none !important;
    }    
}

/// writes OO spacing classes
///
/// @access private
/// @example
///   @include wgsSpacing(18px 22px);
///   @include wgsSpacing(18px 22px, desktop);
@mixin wgsSpacing($gutters: (), $breakpointName: false) {
    $sufix: "";
    @if $breakpointName{
        $sufix: \@#{$breakpointName};
    }

    @each $gutter in $gutters {

        .padding-top--#{$gutter}#{$sufix} {
            padding-top: $gutter;
        }
        .padding-right--#{$gutter}#{$sufix} {
            padding-right: $gutter;
        }
        .padding-bottom--#{$gutter}#{$sufix} {
            padding-bottom: $gutter;
        }
        .padding-left--#{$gutter}#{$sufix} {
            padding-left: $gutter;
        }

        .padding-hori--#{$gutter}#{$sufix} {
            @extend .padding-right--#{$gutter}#{$sufix};
            @extend .padding-left--#{$gutter}#{$sufix};
        }   

        .padding-vert--#{$gutter}#{$sufix} {
            @extend .padding-top--#{$gutter}#{$sufix};
            @extend .padding-bottom--#{$gutter}#{$sufix};
        }

        .padding--#{$gutter}#{$sufix} {
            @extend .padding-hori--#{$gutter}#{$sufix};
            @extend .padding-vert--#{$gutter}#{$sufix};
        }
    }
    @if length($gutters){
        .padding-top--0#{$sufix} {
            padding-top: 0;
        }
        .padding-right--0#{$sufix} {
            padding-right: 0;
        }
        .padding-bottom--0#{$sufix} {
            padding-bottom: 0;
        }
        .padding-left--0#{$sufix} {
            padding-left: 0;
        }
        .padding-hori--0#{$sufix} {
            @extend .padding-right--0#{$sufix};
            @extend .padding-left--0#{$sufix};
        }
        .padding-vert--0#{$sufix} {
            @extend .padding-top--0#{$sufix};
            @extend .padding-bottom--0#{$sufix};
        }

        .padding--0#{$sufix} {
            @extend .padding-top--0#{$sufix};
            @extend .padding-right--0#{$sufix};
            @extend .padding-bottom--0#{$sufix};
            @extend .padding-left--0#{$sufix};
        }        
    }
}


/// Main function. has to be called with wanted fixed widths, breakpoints definition and gutter widths to handle
///
/// @access public
/// @param {map} $breakpoints [()] - breakpoints
/// @param {list} $gutters [()] - gutters to handle
/// @param {list} $fixedWidths [()] - fixed sizes to handle
/// @param {boolean} $mobileFirst [()] - mobile first ? (or desktop first)
/// @example
///   @include wgsSetup(
///       $breakpoints : (
///           tablet     : 480px,
///           big-tablet : 660px,
///           desk       : 990px
///       ),
///       $gutters : 12px 16px 18px 22px,
///       $fixedWidths : 200px 300px
///   );
@mixin wgsSetup(
    $breakpoints  : (),
    $gutters      : (),
    $fixedWidths  : (),
    $mobileFirst  : true
) {
    // Global namespaced variable holding breakpoint definition used by mq()
    $_wgsBreakpoints : $breakpoints !global;



    // 1/ Grid class & grid modifiers
    @include wgsGrid($gutters, $fixedWidths);

    // 2/ Ratio widths
    @include wgsRatioWidths;

    // 3/ Fixed widths
    @each $width in $fixedWidths {
        @include wgsFixedWidth($width);
    }

    // 4/ Spacings
    @include wgsSpacing($gutters);

    // 5/ 1, 2, 3 & 4, but in a breakpoint
    @each $breakpointName, $breakpointSize in $breakpoints {

        // 
        $from  : false;
        $until : $breakpointName;

        @if $mobileFirst {
            $from  : $breakpointName;
            $until : false;
        }

        @include mq($from: $from, $until: $until) {

            @include wgsGrid($gutters, $fixedWidths, $breakpointName);
            @include wgsRatioWidths($breakpointName);
            @include wgsHidden($breakpointName);

            @each $width in $fixedWidths {
                @include wgsFixedWidth($width, $breakpointName);
            }

            @include wgsSpacing($gutters, $breakpointName);

        }

        @include mq($until: $breakpointName) {
            @include wgsVisible($breakpointName);
        }
    }
}



