// Import du WGS
@import "wgs";

@include wgsSetup(
    $breakpoints : (
        tablet     : 480px,
        big-tablet : 660px,
        desk       : 990px
    ),
    $gutters : 12px 16px 18px 22px,
    $fixedWidths : 200px 300px
);


/* Styles uniquement pour la page de démo */
body {
    font: normal 18px/30px Arial, sans-serif;
}
iframe{
    width: 100%;
    resize: both;
}
.wrapper{
    max-width: 990px;
    margin: 0 auto;

}
.grid__item{
    transition: width .2s ease-out;
}

// Titres
.main-title{
    color: #444;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    padding-bottom: 12px;
    margin-top: 60px;
}
.title{
    color: #444;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 1px solid #666;
    padding-bottom: 12px;
    margin-top: 60px;
    margin-bottom: 30px;
}

code {
    display: inline-block;
    background-color: #fafafa;
    border: 1px solid #dadada;
    line-height: 20px;
    font-size: 14px;
    white-space: pre;
    overflow: auto;
    padding: 0 5px;
    vertical-align: middle;
    .wrapper > & {
        display: block;
        padding: 10px;
        margin-top: 24px;
    }
}

// Simulation de contenu
.bloc{
    position: relative;
    background-color: #dadada;

    &__content{
        text-align: center;
        position: relative;
        top: 50%;
        font-family: courier;
        transform: translateY(-50%);
        font-size: 18px;
        padding: 24px;
    }
    @each $size in (50,100,150,300,600,1000) {
        &--#{$size} {
            height: #{$size}px;
        }
    }
}


hr{
    margin-top: 40px;
    margin-bottom: 40px;

}